@import "../../global.css";
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: smaller;
}

.show2 .swiper-button-next {
  display: flex;
}
.hide2 .swiper-button-next {
  display: none;
}
.show1 .swiper-button-prev {
  display: flex;
}
.hide1 .swiper-button-prev {
  display: none;
}
